body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell,
    Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica, Arial,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}
a,
.text-primary {
  color: rgb(3, 155, 229);
}
.text-success,
.navbar-light .navbar-nav .nav-link {
  color: #408655;
}

/**
rainbow sa colors:
black: #10110d;
green: #408655;
yellow: #fccc19;
red:#e94a05
**/
span.logo-text-y {
  color: #fccc19;
}
span.logo-text-d {
  color: #e94a05;
}
span.logo-text-t {
  color: #408655;
}
.logo-text-y,
.logo-text-d,
.logo-text-t {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*   color: rgba(34, 34, 34, 0.8); */
  color: #408655;
  padding: 5px 0;
  margin: 0 0 20px;
  font-size: 30px;
  line-height: 40px;
  border-radius: 4px;
}
.card {
  margin-bottom: 10px;
}
.latest div.card-header {
  color: #fccc19;
  font-weight: bold;
  font-size: 1.5rem;
}
td[class^="sorting_"] {
  color: black !important;
  font-weight: lighter;
}
.container-fluid {
    margin-top: 80px;
}
.toggle:hover {
  cursor: pointer;
}
ul.main-sidebar li.list-group-item:hover {
cursor: pointer;
background-color: cadetblue;
}
/* .main-sidebar li {
  color:#fff;
} */

footer {
  margin-top: 20px;
}
/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  
}
